<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:./testdb</property>
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.dialect">org.sqlite.hibernate.dialect.SQLiteDialect</property>
        <!-- Zakomentować -->
        <property name="show_sql">true</property>

        <property name="hbm2ddl.auto">update</property>

        <mapping class="priv.stud.database.entities.ropes.Rope" />
        <mapping class="priv.stud.database.entities.ropes.CommonRope" />
        <mapping class="priv.stud.database.entities.ropes.TwinRope" />
        <mapping class="priv.stud.database.entities.warehouse.Warehouse" />
        <mapping class="priv.stud.database.entities.warehouse.WarehouseRope" />
        <mapping class="priv.stud.database.entities.warehouse.Worker" />
        <mapping class="priv.stud.database.entities.stores.Store" />
        <mapping class="priv.stud.database.entities.orders.Order" />
        <mapping class="priv.stud.database.entities.orders.OrderedModel" />

    </session-factory>
</hibernate-configuration>